.header {
  height: 64px;
  box-sizing: border-box;
  border-bottom: 1px solid #dcddde;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  padding: 1em;
}
.divider {
  border-bottom: 1px solid #dcddde;
}
.spacer {
  flex: 1 1 auto;
}
.side-drawer {
  height: 100%;
  padding: 15px;
  background: #f8f9fa;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  z-index: 200;
}

.side-drawer ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style-type: none;
}
/* .side-drawer  */
